rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /skck/{uid}/{file} {
      allow write: if request.auth.uid == uid;
      allow read: if request.auth.token.role == 'admin';
    }
    match /cv/{uid}/{file} {
      allow read, write: if request.auth.uid == uid;
    }
    match /certificates/{uid}/{file} {
      allow read: if request.auth.uid == uid;
      allow write: if request.auth.token.role == 'admin';
    }
    match /avatars/{uid}/{file} {
      allow read: if true;
      allow write: if request.auth.uid == uid;
    }
  }
}
